<li>

  <!-- contacts partial -->
  
  <p><%= reminder.body %></p>
  <p><%= reminder.time_to_go_out %></p>
  <p><%= reminder.number_of_recurrences %></p>
  <p><%= reminder.time_of_recurrence %></p>

</li>