<div class="jumbotron center-me">
    <%= link_to 'Create Contact', new_user_contact_path(@user), class: "btn btn-primary" %>

    <%= link_to 'Create Group', new_user_group_path(@user), class: "btn btn-primary" %>
</div>
<div class="container">
	<% if @contacts %>
		<ul>
			<% @contacts.each do |contact| %>
				<li> <%= link_to contact.name, user_contact_path(contact.user, contact) %></li> 
			<% end %>
		</ul>
	<% end %>
</div>